<%= render '/userinfo', info_user: @info_user %>
<%= render '/newbook', newbook: @newbook %>

<div class="users">
  <h2>Users</h2>
  <% @users.each do |user| %>
  <div>
    <%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>
    <p>＠<%= user.name %></p>
    <%= link_to user_path(user.id) do %>
    <p>Show</p>
    <% end %>
  </div>
  <% end %>
</div>