<%= render '/flash' %>
<%= render '/userinfo', info_user: @info_user %>
<%= render '/newbook', newbook: @newbook %>

<div class="books-info"></div>
  <h4>Books</h4>
  <% @books.each do |book| %>
  <div>
    <p>＠<%= book.user.name %></p>
    <%= link_to book_path(book.id) do %>
      <p>title : <%= book.title %></p>
    <% end %>
    <p>body : <%= book.body %></p>
  </div>
  <% end %>
</div>


<%= paginate @books %>






