<% @books.each do |book| %>
<div>
  <p>＠<%= book.user.username %></p>
  <%= link_to book_path(book.id) do %>
    <p>title : <%= book.title %></p>
  <% end %>
  <p>body : <%= book.body %></p>

</div>
<% end %>
<%= paginate @books %>