<% if flash[:error] %>
  <div id="error-explanation">
    <p><%= pluralize(flash[:error].count, "error") %> prohibited this book from being saved:</p>
    <ul>
      <% flash[:error].each do |e| %>
      <li><%= e %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render '/userinfo', login_user: @login_user %>
<%= render '/newbook', newbook: @newbook %>

<% @books.each do |book| %>
<div>
  <%= link_to book_path(book.id) do %>
    <p>title : <%= book.title %></p>
  <% end %>
  <p>body : <%= book.body %></p>

</div>
<% end %>
<%= paginate @books %>