<%= render '/userinfoandnewbook', newbook: @newbook, login_user: @login_user %>
<div class="flash-message">
    <% flash.each do |message_type, message| %>
      <%= message %>
    <% end %>
</div>
<div class="post-body">
  <%= link_to user_path(@book.user.id) do %>
    <p>name : <%= @book.user.name %></p>
  <% end %>
  <%= link_to book_path(@book.id) do %>
    <p>title : <%= @book.title %></p>
  <% end %>
  <p>body: <%= @book.body %></p>
  <p><%= @book.created_at.strftime('%Y/%m/%d') %></p>

  <% if @book.user.id == current_user.id %>
    <%= link_to "delete", book_path(@book.id), method: :delete %>
  <% end %>
</div>